<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Box</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, print">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
