<h1><%= presenter.month %> Winners</h1>

<div class="winners">
  <% presenter.winners.each do |winner| %>
    <div class="winner">
      <span class="winner-box">Box <%= winner['box_number'] %>:</span>
      <span class="winner-name"><%= winner['name'] %></span>
    </div>
  <% end %>
</dl>
